.vscode/
build/
watermark
game_mawa.c
copy_game.c
Testing/Temporary/CTestCostData.txt
Testing/Temporary/LastTest.log
copy_game_aux.c
game_ext_mwache.c
game_tools_copy.c
game.js
game.wasm
libgame.a 
wrapper.o
game_aux.o
game_ext.o
game_private.o
game_tools.o
game.o
queue.o
text.txt
web.zip